.cardss {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.cardPersonal {
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    margin-top: 2rem;
    transition: .2s;
}
.cardPersonal h2 {
    cursor: pointer;
}
.cardPersonal b {
    font-size: 1.2rem;
}
.cardPersonal span {
    font-size: 1.2rem;
    color: #808080;
}
.cardPersonal .tags {
    cursor: pointer;
    margin-top: 1rem;
}
.cardPersonal p {
    font-size: .9rem;
    float: right;
    margin-right: 10px;
    color: #808080;
}
.cardPersonal .tags:hover {
    text-decoration: underline;
}
.cardPersonal:hover {
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.27);
}
.cardPersonal img {
    max-width: 200px;
    float: left;
    padding: 5px;
}

.cardPersonal h2 {
    margin: 8px;
    font-size: 1.8rem;
}